<!DOCTYPE html>
<html>
  <head>
    <title>RiceCream</title>
    <link href='http://fonts.googleapis.com/css?family=Snippet' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href='/'>RiceCream</a>
        <ul class="nav pull-right">
          <%= render "shared/nav_bar" %>
        </ul>
      </div>

    </div>

    <div class="container">
      <% unless @home_page %>
        <div class="sidebar">
          <%= render "shared/side_bar" %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>

</html>
